# To be run in a Nix shell, or otherwise customized (remove this line!)
#
# The heap cap keeps a session that has been reloading for hours from
# growing without bound; see ghcid.sh.
--command="ghci -igi-gtk4-declarative/src -igi-gtk4-declarative-app-simple/src -iexamples -fobject-code examples/Main.hs +RTS -M4g -RTS"
--reload=gi-gtk4-declarative
--reload=gi-gtk4-declarative-app-simple
--reload=examples
